$purple-lighter: #706fd3;
$purple-light: #474787;
$purple: #40407a;
$purple-dark: #40407a;
$red-light: #ff5252;
$red-dark: #b33939;
$orange-light: #ff793f;
$orange-dark: #cd6133;
$grey-lighter: #f7f1e3;
$grey-light: #dbdbdb;
$grey: #aaa69d;
$grey-dark: #84817a;
$blue-light: #34ace0;
$blue-dark: #227093;