.search-filter-instructions {
    color: #f7f1e3;
}
.search-filters {
    margin-bottom: 50px;

    &__filter {
        background-color: #40407a;
        &:nth-child(even){
            background-color: #474787;
        }
        color: #b9b9b9;
        cursor: pointer;
        min-height: 30px;
        padding-top: 20px;
        text-align: center;
        @media only screen and (max-width: 400px) {
            min-height: 20px;
        }

        &--active {
            color: rgb(27, 27, 27);
            background-color: #33d9b2;
            &:nth-child(even) {
                background-color: #29b292;
            }
        }

        &__description {

        }
        &__emoji {
            font-size: 3em;
            line-height: 1em;
            @media only screen and (max-width: 400px) {
                font-size: 2em;
            }
        }
    }

}