<div class="search-filters">
  <!-- Passing Inspections Filter -->
  <div class="search-filters__filter" 
      (click)="query.toggleFilter('includePassingInspections')" 
      [class.search-filters__filter--active]="query.queryFilterStates.includePassingInspections">
    <p class="search-filters__filter__description">include passing inspections</p>
  </div>
  <!-- Poo Inspections Filter -->
  <div class="search-filters__filter" 
      (click)="query.toggleFilter('includePoo')" 
      [class.search-filters__filter--active]="query.queryFilterStates.includePoo">
      <p class="search-filters__filter__description">poo</p>
  </div>
  <!-- Pest Inspections Filter -->
  <div class="search-filters__filter" 
      (click)="query.toggleFilter('includePoisons')" 
      [class.search-filters__filter--active]="query.queryFilterStates.includePests">
      <p class="search-filters__filter__description">pests</p>
  </div>
   <!-- Poison Inspections Filter -->
  <div class="search-filters__filter" 
      (click)="query.toggleFilter('includePoisons')" 
      [class.search-filters__filter--active]="query.queryFilterStates.includePoisons">
      <p class="search-filters__filter__description">poison</p>
  </div>
</div>
